article {
	.column(7);
	background-color: white;

	#right, #left ul, #title {
		margin: 0;
		li { list-style-type: none; }
	}

	.content-left-borded-div {
		.column(8);
		>div {
			border: 1px solid #dddddd;
			border-radius: 6px;
			background-color: #f4f4f4;
            margin-right: 5px;
		}

		#new_action {
			background-image: url(../imgs/icons/new_action.png);
			height: 48px;
			width: 48px;
			float: right;
			margin-top: 5px;
			margin-right: 5px;
		}
		h2 {
			margin: 0 8px;
			color: #747474;
			font-size: 18pt;
			font-variant: small-caps;
			font-weight: bold;
			* {
				vertical-align: text-bottom;
			}
			img {
				height: 48px;
			}
		}
		ul {
			margin-left: 0px;
			li {
				@height: 3em;
				@cgstart: #EEE;
				@cgend: #CCC;
				@cgmultiplier: 0.90;
				height: @height;
				display: block;
				margin: 0.5em 8px;
				border: 1px solid #cccccc;
				border-radius: @height/8;
				text-align: center;
				line-height: @height;
				font-weight: bold;
				.gradient(@cgstart, @cgend);
				color: #888888;

				&:hover {
					.gradient(@cgstart * @cgmultiplier, @cgend * @cgmultiplier);
				}

				&.pnull, &.p1, &.p2, &.p3, &.p4, &.p5 {
					border-left-width: 15px;
					border-left-style: solid;
				}
				&.pnull { border-left-color: (@cgstart + @cgend) / 2; }
				&.p1 { border-left-color: indianRed; }
				&.p2 { border-left-color: lightCoral; }
				&.p3 { border-left-color: moccasin; }
				&.p4 { border-left-color: darkCyan; }
				&.p5 { border-left-color: paleTurquoise; }
				&.is-done { text-decoration: line-through; }

				a {
					display: block;
					text-decoration: none;
				}
			}
		}
	}
	#right {
		.column(4);
		text-align: center;
		button{
			margin-bottom: 20px;
		}
		select{
			width: 100%;
		}
		label{
			font-weight: bold;
			display:block;
			text-align: left;
		}
	}
	.collapsable-list {

		.section {
			text-align: left;
			cursor: pointer;
			span {
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: middle;
				background-image: url(../css/jquery-ui/cupertino/images/ui-icons_2e83ff_256x240.png);
			}
			span.icon-down {
				background-position: -64px 0px;
			}
			span.icon-right {
				background-position: -32px 0px;
			}
		}

		.section-options {
			list-style: none;
			margin-left: 0;
			border-left: 1px solid #aed0ea;
			border-right: 1px solid #aed0ea;
			li {
				text-align: left;
				padding: 2px 5px;
				cursor: pointer;
			}
			li:hover {
				background-color: #eeeeee;
			}
			li.sel {
				background-color: #ddddff;
			}
		}

		.last {
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			border-bottom: 1px solid #aed0ea;
		}

		.first {
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
		}
	}
}