form#edit {
	margin-left: 20px;

	h2 {
		font-size: 2em;
		margin-bottom: 10px;
	}

	p {
		padding-bottom: 10px;
	}

	label {
		font-weight: bold;
		display: inline-block;
	}

	input {
		padding: 3px 5px;
		border-radius: 5px;
		margin-top: 7px;
	}
}