//huge computers
.header(@height, @logo: 2, @user: 5, @form: 4, @logout: 1) {
	height: @height;
	margin-bottom: @height/6;
	padding: @height/6 @height/12;

	h1 {
		.column(@logo);
		img {
			width: 100%;
			height: @height;
		}
	}
	#user {
		.column(@user);
		.avatar {
			height: @height;
			width: @height;
			margin-right: 0.5em;
		}

	}
	form {
		.column(@form);
		line-height: @height;
	}
	#logout {
		.column(@logout);
		line-height: @height;
	}
}

header {
	.header(6em);
}

article {
	#left {
		h2 {
			img {
				height: 48px;
			}
		}
	}
}

@media screen and (max-width: 1280px) { // desktops and big tablets (?)

}

@media screen and (max-width: 1024px) { // common tablets and iPad landscape
	article { .column(6); }
	nav { .column(4); }
}

@media screen and (max-width: 960px) { // new phones and tablets on landscape
	.non-essential { display: none; }

	header {
		.header(3em, 1, 3, 6);
		line-height: 3em;
		h1 { line-height: 1em; }

		img.avatar, h2 { display: none; }
		form input[type=search] {
			width: 11em;
		}
	}

	menu { 	.column(3); }

	article {
		.column(9);
		#left h2 img {
			height: 34px;
		}
		#right img.folder {
			width: 100%;
		}
	}

	nav { display: none; }
	#nav-handler { display: block; }
}


@media screen and (max-width: 480px) { // iPhone and others, landscape

}

@media screen and (max-width: 320px) { // small Androids and iPhone on portrait
	header {
		line-height: 1.3em;
		h1 { display: none; }
		#user {
			.column(12);
			text-align: center;
		}
		form {
			.column(10);
			text-align: center;
		}
		#logout { 	.column(2); }
	}
	menu { display: none; }
	#menu-handler { display: block; }
	article {
		.column(12);
		#left h2 {
			width: 100%;
			text-align: center;
			img { display: none; }
		}
	}
}


@media screen and (max-width: 240px) { // awfully small devices
	header {
		form {
			input[type=search] {
				width: 6em;
			}
		}
	}
	article #left { .column(12); }
	article #right { display: none; }
	article #right-handler { display: block; }
}