menu {
	.column(2);

	#menu-borded-div {
		background-color: #d4ffd4;
		border: 1px solid #aeead0;
		border-radius: 6px;

		#icons, #buttons {
			margin: 0;
			li { list-style-type: none; }
		}

		#icons {
			text-align: center;
			font-size: 0;
			li {
				.column(3);
				margin: 0;
				cursor: pointer;
				float: none;
				display: inline-block;
				img {
					width: 100%;
				}
			}
		}
		#buttons {
			@ctext: #008866;
			@cgstart: #7fe8a6;
			@cgend: #8fd8b6;
			@cborder: #9dddbb;
			@cmultiplier: 0.85;
			margin: 0.5em;
			li {
				@height: 3em;
				height: @height;
				width: 100%;
				margin: 0.5em 0;
				border: 1px solid @cborder;
				border-radius: @height/8;
				text-align: center;
				line-height: @height;
				color: @ctext;
				font-weight: bold;
				.gradient(@cgstart, @cgend);
			}
			li.sel {
				color: (@ctext * @cmultiplier);
				border-color: (@cborder * @cmultiplier);
				.gradient((@cgstart * @cmultiplier), (@cgend * @cmultiplier));
			}
		}
	}
	#menu-upper-div {
		@m: 1.2;
		background-color: (#cceeff);
		border: 1px solid (#7fa6e8)*1.2;
		border-radius: 6px;
		margin-bottom: 10px;
		ul {
			list-style: none;
			@ctext: (#0044aa)* @m;
			@cgstart: (#8fb6d8)* @m;
			@cgend: (#7fa6e8)* @m;
			@cborder: (#7fa6e8)*1.4;
			@cmultiplier: 0.85;
			margin: 0.5em;
			li {
				@height: 3em;
				height: @height;
				width: 100%;
				margin: 0.5em 0;
				border: 1px solid @cborder;
				border-radius: @height/8;
				text-align: center;
				line-height: @height;
				color: @ctext;
				font-weight: bold;
				.gradient(@cgstart, @cgend);
			}
			li.sel {
				color: (@ctext * @cmultiplier);
				border-color: (@cborder * @cmultiplier);
				.gradient((@cgstart * @cmultiplier), (@cgend * @cmultiplier));
			}
		}

	}
	
}