.gradient (@initial, @final) {
	background: @initial; /* Old browsers */
	background: -moz-linear-gradient(top,  @initial 0%, @final 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@initial), color-stop(100%,@final)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @initial 0%,@final 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @initial 0%,@final 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @initial 0%,@final 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @initial 0%,@final 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@initial', endColorstr='@final',GradientType=0 ); /* IE6-9 */
}