nav {
	.column(3);
	#list {
		.column(7);
		>div {
			background-color: (#e4f2fb * 1.05);
			border: 1px solid #aed0ea;
			border-radius: 6px;
			margin-right: 0.5em;
            h2 {
                margin-top: 5px;
                color: (#2779aa) * 0.8;
                text-align: center;
                font-weight: bold;
                font-size: 13pt;
            }

            @gradient-start: (#d7ebf9) * 1.1;
            @gradient-end: (#d7ebf9) * 0.9;
            @font-color: #2779aa;
            @border-color: #aed0ea;
            @darker-multiplier: 0.9;
			li{			
				@height: 3em;
				height: @height;
				color: @font-color;
				.gradient(@gradient-start, @gradient-end);
				font-weight: bold;
				display: block;
				margin: 5px 10px;
				border: 1px solid @border-color;
				border-radius: @height/8;
				text-align: center;
				line-height: @height;
                cursor: pointer;
			}
            li:hover {
                .gradient(@gradient-start * @darker-multiplier, @gradient-end * @darker-multiplier);
                color: @font-color * @darker-multiplier;
                border-color: @border-color * @darker-multiplier;
            }
		}
	}
	#day {
		.column(4);
		margin: 0.25em;
        ul {
            display: block;
            height: auto;
            @gradient-start: #ffffcc;
            @gradient-end: #ffff90;
            @font-color: #999900;
            @border-color: #eeee00;
            @darker-multiplier: 0.95;
            li {
                display: block;
                @height: 2.5em;
                height: @height;
                line-height: @height;
                border-radius: @height/8;
                margin: 0;
                margin-bottom: 0.5em;
                border: 1px solid @border-color;
                .gradient(@gradient-start , @gradient-end);
                padding: 2px 5px;
                color: @font-color;
                font-weight: bold;
                text-align: left;
                vertical-align: middle;
                cursor: pointer;
            }
            li:not(.sel):hover {
                .gradient(@gradient-start * @darker-multiplier, @gradient-end * @darker-multiplier);
                color: @font-color * @darker-multiplier;
                border-color: @border-color * @darker-multiplier;
            }
            li.sel {
                border-color: #ffa500;
                .gradient(#ffd040, #ffb510);
            }
            li:last-child {
                margin: 0;
            }
        }
		#date-icon-down, #date-icon-up {
			height: 48px;
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
            cursor: pointer;
		}
		#date-icon-down {
			background-image: url(../imgs/icons/date_arrow_down.png);
		}
		#date-icon-up {
			background-image: url(../imgs/icons/date_arrow_up.png);
		}
	}
}
#trash {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 64px;
	width: 64px;
	margin: -64px 0 0 -64px;
	background-image: url(../imgs/icons/trash.png);
}
#trash.sel {
	background-position: -64px 0px;
}
#undo {
	cursor: pointer;
	position: fixed;
	right: 64px;
	bottom: 0;
	height: 64px;
	width: 64px;
	margin: -64px 0 0 -64px;
	background-image: url(../imgs/icons/undo.png);
}