@import 'grid';
@columns: 12;
@column-width: 70;
@gutter-width: 10;
@total-width: 100%; // Remove this for a pixel-based layout

@import 'boilerplate';
@import 'mixins';
@import 'header';
@import 'menu';
@import 'content';
@import 'forms';
@import 'nav';
@import 'media-queries';
