<div id="menu-upper-div">
	<ul>
		{{#view menuItem class="overdue"}}	Overdue		{{/view}}
		{{#view menuItem class="projects"}}	Projects	{{/view}}
		{{#view menuItem class="contexts"}}	Contexts	{{/view}}
		{{#view menuItem class="tags"}}		Tags		{{/view}}
	</ul>
</div>
<div id="menu-borded-div">
	<ul id="icons">
		<li><img src="imgs/icons/inbox.png" alt="Inbox" /></li>
		<li><img src="imgs/icons/add_inbox.png" alt="Add to inbox" /></li>
	</ul>

	<ul id="buttons">
		{{#view menuItem class="now"}}		Now			{{/view}}
		{{#view menuItem class="done"}}		Done		{{/view}}
		{{#view menuItem class="waiting"}}	Waiting		{{/view}}
		<!-- {{#view menuItem class="active"}}	Active		{{/view}} -->
		{{#view menuItem class="someday"}}	Someday		{{/view}}
		{{#view menuItem class="refs"}}		References	{{/view}}
	</ul>
</div>