<header>
	<h1><img src="imgs/logo.png" alt="Calen-Do logo"/></h1>
	<div id="header-data">
		<div id="user">
			<img src="imgs/avatar.jpg" alt="User avatar" class="avatar" />
			<h2>Hello, {{user.name.first}}</h2>
			<p id="total-tasks">
				<span class="non-essential">You have </span>{{tasks.length}} task{{#if tasks.plural}}s{{/if}} for today.
			</p>
			<p class="date non-essential">{{date}}</p>
		</div>
		<form>
			Search:
			<input type="search" />
			<!-- search box with projects tags and context filters appears as you type, enter creates new quick task -->
			<input type="submit" value="Add" />
		</form>
		<a id="logout" href="#">Logout</a>
	</div>
	<!-- TODO: fix float/clear issue -->
</header>

<menu>{{partial "menu"}}</menu>

<article>{{outlet}}</article>

<nav>{{partial "nav"}}</nav>

<footer></footer>
