<h2>User</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="first_name">First name</label><br>
    {{view Ember.TextField valueBinding="firstName" id="first_name"}}
  </p>
  
  <p>
    <label for="last_name">Last name</label><br>
    {{view Ember.TextField valueBinding="lastName" id="last_name"}}
  </p>
  
  <p>
    <label for="email">Email</label><br>
    {{view Ember.TextField valueBinding="email" id="email"}}
  </p>
  
  <p>
    <label for="password">Password</label><br>
    {{view Ember.TextField valueBinding="password" id="password"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

