<form id="edit" {{action save on="submit"}}>
	<h2>Task</h2>

  <p>
    <label for="title">Title</label><br>
    {{view Ember.TextField valueBinding="title" id="title"}}
  </p>

  <p>
    <label for="description">Description</label><br>
    {{view Ember.TextField valueBinding="description" id="description"}}
  </p>

  <p>
    <label for="priority">Priority</label><br>
	{{view Ember.TextField valueBinding="priority" id="priority"}}
    {{!view Ember.Select selectionBinding="priority" id="priority"
						contentBinding="content.availablePriorities"
						optionLabelPath="content.value"
						optionValuePath="content.num"
						prompt="No priority"}}
  </p>

  <p>
    <label for="due">Due</label><br>
    {{view Ember.TextField valueBinding="due" id="due"}}
  </p>

  <p>
    <label for="delegatedTo">Delegated to</label><br>
    {{view Ember.TextField valueBinding="delegatedTo" id="delegatedTo"}}
  </p>

  <p>
    {{view Ember.Checkbox checkedBinding="isDone" id="isDone"}}
    <label for="isDone">Done</label>
  </p>

  <p>
    {{view Ember.Checkbox checkedBinding="isReference" id="isReference"}}
    <label for="isReference">This is a reference</label>
  </p>

  <p>
    {{view Ember.Checkbox checkedBinding="isSomeday" id="isSomeday"}}
    <label for="isSomeday">This a future task, not currently doable</label>
  </p>

  <p>
    <button type="submit">Save</button>
  </p>

</form>

