<h2>Proj</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name"}}
  </p>
  
  <p>
    <label for="description">Description</label><br>
    {{view Ember.TextField valueBinding="description" id="description"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

