<h2>Projs</h2>

{{#linkTo "new_proj"}}New Proj{{/linkTo}}

<table>
  <thead>
    <th>name</th>
    <th>description</th>
  </thead>
  <tbody>
    {{#each proj in controller}}
    <tr>
      <td>{{proj.name}}</td>
      <td>{{proj.description}}</td>
      <td>{{#linkTo "proj" proj}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


