<h2>Proj</h2>

<p>
  <b>Name:</b> {{name}}
</p>

<p>
  <b>Description:</b> {{description}}
</p>

{{#linkTo "projs"}}←All Projs{{/linkTo}}
{{#linkTo "edit_proj" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
