<h2>Tasks</h2>

{{#linkTo "new_task"}}New Task{{/linkTo}}

<table>
  <thead>
    <th>title</th>
    <th>description</th>
    <th>priority</th>
    <th>due</th>
    <th>delegated</th>
    <th>done</th>
    <th>someday</th>
    <th>reference</th>
  </thead>
  <tbody>
    {{#each task in controller}}
    <tr>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.due}}</td>
      <td>{{task.delegatedTo}}</td>
      <td>{{task.isDone}}</td>
      <td>{{task.isSomeday}}</td>
      <td>{{task.isReference}}</td>
      <td>{{#linkTo "task" task}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>