<div class="content-left-borded-div">
	<div>
		{{#linkTo "new_task" id="new_action"}}{{/linkTo}}

		<ul id="left">
			<!-- TODO: those elements should not be present inside an UL!!!! -->
			<h2>
				<img src="imgs/icons/action_list.png" alt="Next Actions" />
				{{content.title}} [{{content.tasks.length}}]
			</h2>
			{{#each task in content.tasks}}
				<li draggable="true" {{bindAttr class="task.isDone task.priorityClass"}} {{bindAttr data-id="task.id"}}>
					{{#linkTo "edit_task" task}}
						{{task.title}}
					{{/linkTo}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
<div id="right">
	<div id="filters" class="collapsable-list">
		<h3 class="section ui-state-default first">
			<span class="icon-down"></span>
			Contexts
		</h3>
		<ul class="section-options">
			<li>Home</li>
			<li>University</li>
			<li>Errands</li>
			<li>Phone</li>
		</ul>
		<h3 class="section ui-state-default">
			<span class="icon-down"></span>
			Projects
		</h3>
		<ul class="section-options">
			<li>Calen-Do project</li>
			<li>HCI Fitt's Law</li>
			<li>MarketShare app</li>
		</ul>
		<h3 class="section ui-state-default">
			<span class="icon-down"></span>
			Tags
		</h3>
		<ul class="section-options last">
			<li>Hard work</li>
			<li>CSCI 3130</li>
			<li>CSCI 4173</li>
			<li>Dalhousie</li>
			<li>travelling</li>
		</ul>
	</div>
</div>
