<h2>Task</h2>

<p>
  <b>Title:</b> {{title}}
</p>

<p>
  <b>Description:</b> {{description}}
</p>

<p>
  <b>Priority:</b> {{priority}}
</p>

<p>
  <b>Done:</b> {{done}}
</p>

<p>
  <b>Due:</b> {{due}}
</p>

{{#linkTo "tasks"}}←All Tasks{{/linkTo}}
{{#linkTo "edit_task" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
