<h2>User</h2>

<p>
  <b>First name:</b> {{firstName}}
</p>

<p>
  <b>Last name:</b> {{lastName}}
</p>

<p>
  <b>Email:</b> {{email}}
</p>

<p>
  <b>Password:</b> {{password}}
</p>

{{#linkTo "users"}}←All Users{{/linkTo}}
{{#linkTo "edit_user" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
