<h2>Users</h2>

{{#linkTo "new_user"}}New User{{/linkTo}}

<table>
  <thead>
    <th>firstName</th>
    <th>lastName</th>
    <th>email</th>
    <th>password</th>
  </thead>
  <tbody>
    {{#each user in controller}}
    <tr>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{#linkTo "user" user}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


